{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AP Voyages</title>
    <link rel="stylesheet" href="../CSS/tripsagence.css">
</head>
<body>
    <div class="sidebar">
        <div class="logo-section" >
            <h1>{{ agences.nom }}</h1>
            <div class="rating">
                <span class="star">★</span>
                <span>{{ agences.rating }}</span>
            </div>
        </div>
    
        <button class="nav-item">
            <img src="{% static 'img/pages/imageVamos/plaine.png'%}" alt="Trips" class="nav-icon">
            <span>Trips</span>
        </button>
        <button class="nav-item active">
            <img src="{% static 'img/pages/imageVamos/msg.png'%}" alt="Requests" class="nav-icon">
            <span>Requests</span>
        </button>
        <button class="nav-item">
            <img src= "{% static 'img/pages/imageVamos/edit.png'%}" alt="Add Trip" class="nav-icon">
            <a href="{% url 'add_voyage' %}" style="text-decoration: none; color:white;">Add trip</a>
        </button>
    
        <div class="icon-circle">
            <img src="{% static 'img/pages/imageVamos/logo.png'%}" alt="Icon Circle" class="icon-circle-img">
        </div>
    
        <button class="nav-item logout">
            <img src="{% static 'img/pages/imageVamos/logout.png'%}" alt="Logout" class="nav-icon">
            <a href="{% url 'logout' %}" style="text-decoration: none; color:white;">Logout</a>
        </button>
    </div>

    <div class="main-content">
        <div class="header">
            <img src="../imageVamos/Arrispectif.jpg" alt="AP Voyages" class="logo">
            <div class="agency-name">{{ agences.nom }}</div>
            <div class="agency-slogan">
                FACILITEZ-VOUS LA VIE<br>
                voyagez facilement et sereinement
            </div>
        </div>

        <h1 class="page-title">Trips</h1>

        <div class="voyages-grid">
            <div class="voyage-card">
                    <a href="#" class="destination_link">
                        <img src="../imageVamos/antalya.jpg" alt="Antalya" class="destination_img">
                        <div class="destination_text">
                            <div class="destination_header_group">
                                <h3 class="destination_title">Antalya </h3>
                                <div class="date">May 5 --- 10</div>
                                <div class="location">
                                    <img src="../imageVamos/Group (1).png" alt="Group photo " class="group-photo">
                                    <span style=" color: #23385C;"> localisation tae lhotel </span>
                                </div>
                            <div class="icon_group">
                                <div class="building_rating">
                                    <img src="../imageVamos/resort.png" alt="hotel" class="hotel-icon">
                                    <span>4</span>
                                </div>
                                    <div class="options_icons">
                                        <img src="../imageVamos/billets-davion.png" alt="ticket" class="ticket">
                                        <img src="../imageVamos/bus.png" alt="transport" class="transport">
                                        <img src="../imageVamos/Visa.png" alt="visa" class="visa">
                                        <img src="../imageVamos/process.png" alt="Activities" class="activities">
                                    </div>
                                 </div>
                            </div>
                     </a>
            </div>
         </div>
    </div>
    <script src="../JS/tripsagence.js"></script>
</body>
</html>