{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AP Voyages</title>
    <link href="{% static 'css/agence/tripsagence.css' %}" rel="stylesheet">
    <script src="{% static 'js/agence/tripsagence.js' %}" defer ></script>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <script>
        var static_url = "{% static '' %}";
    </script>
</head>
<body>
    <div class="sidebar">
        <div class="logo-section" >
            <h1>{{ agences.nom }}</h1>
            <div class="rating">
                <span class="star">★</span>
                <span>{{ agences.rating }}</span>
            </div>
        </div>
    
        <button class="nav-item">
            <img src="{% static 'img/pages/imageVamos/plaine.png'%}" alt="Trips" class="nav-icon">
            <span>Trips</span>
        </button>
        <button class="nav-item active">
            <img src="{% static 'img/pages/imageVamos/msg.png'%}" alt="Requests" class="nav-icon">
            <span>Requests</span>
        </button>
        <button class="nav-item">
            <img src= "{% static 'img/pages/imageVamos/edit.png'%}" alt="Add Trip" class="nav-icon">
            <a href="{% url 'add_voyage' %}" style="text-decoration: none; color:white;">Add trip</a>
        </button>
    
        <div class="icon-circle">
            <img src="{% static 'img/pages/imageVamos/logo.png'%}" alt="Icon Circle" class="icon-circle-img">
        </div>
    
        <button class="nav-item logout">
            <img src="{% static 'img/pages/imageVamos/logout.png'%}" alt="Logout" class="nav-icon">
            <a href="{% url 'logout' %}" style="text-decoration: none; color:white;">Logout</a>
        </button>
    </div>

    <div class="main-content">
        <div class="header">
            <img src="{{ agences.image.url }}" alt="Agence Photo" class="header-logo-img">
            <div class="agency-name">{{ agences.nom }}</div>
            <div class="agency-slogan">
                <div>{{ agences.logan }}</div>
            </div>
        </div>

        <h1 class="page-title">Trips</h1>

        <div class="voyages-grid">
            {% for voyage in voyages %}
            <div class="voyage-card">
                    <a href="#" class="destination_link"onclick="getVoyageId(event)">
                        
                        <img src="{{ voyage.image1.url }}" alt= "Image 1 de {{ voyage.Destination }}" class="destination_img">
                        <div class="destination_text">
                            <div class="destination_header_group">
                                <h3 class="destination_title">{{ voyage.Destination }}</h3>
                                <div class="date">
                                    <p><strong>Date de départ:</strong> {{ voyage.date_depart }}</p>
                                    <p><strong>Date de retour:</strong> {{ voyage.date_retour }}</p>     
                                </div>
                                <div class="location">
                                    <img src="../imageVamos/Group (1).png" alt="Group photo " class="group-photo">
                                    <span style=" color: #23385C;">{ {voyage.location_hotel} }</span>
                                </div>
                            <div class="icon_group">
                                <div class="building_rating">
                                    <img src="../imageVamos/resort.png" alt="hotel" class="hotel-icon">
                                    <span>{{ voyage.note_hotel }}/5</span>
                                </div>
                                    <div class="options_icons">
                                        {% if voyage.billet_avion %}
                                        <img src="{% static 'img/pages/imageVamos/billets-davion.png' %}" alt="ticket" class="ticket">
                                        {% endif %}
                                        {% if voyage.Transport %}
                                        <img src="{% static 'img/pages/imageVamos/bus.png' %}" alt="transport" class="transport">
                                        {% endif %}
                                        {% if voyage.Visa %}
                                        <img src="{% static 'img/pages/imageVamos/Visa.png' %}" alt="visa" class="visa">
                                        {% endif %}
                                        {% if voyage.Activités %}
                                        <img src="{% static 'img/pages/imageVamos/process.png' %}" alt="Activities" class="activities">
                                        {% endif %}
                                    </div>
                                 </div>
                            </div>
                     </a>
            </div>
            {% endfor %}
         </div>
    </div>
    <script src="../JS/tripsagence.js"></script>
</body>
</html>